body, html {
	height: 100%;
	margin: 0;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	color: black;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#inputs {
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
}

#inputs > p {
	margin: 0px;
}

@keyframes blinking {
    0%, 49% {
		border-right: 10px solid orange;
    }
    50%, 100% {
		border-right: 10px solid #DDD;
    }
}

.input {
	font-size: 39px;
	padding-left: 30px;
	padding-right: 0px;
	border: 0px solid darkorange;
	border-right: 10px solid darkorange;
	background-color: #DDD;
	color: darkorange;
	animation: blinking 1s linear infinite;
}

.input:focus-within ~ .run {
	color: green;
}

.quote {
	color: darkorange;
}

#outputs {
	margin-top: 50px;
	background-color: #EEE;
	border-top: 2px solid orange;
	visibility: hidden;
	font-family: serif;
}

.class_hidden {
	visibility: hidden;
}

.package {
	color: red;
	font-weight: bold;
}

.instance {
	color: red;
}

.method {
	color: dodgerblue;
}

.param_name {
	font-size: 30px;
	font-style: italic;
	color: gray;
    display: table-cell;
    vertical-align: middle;
}

.run {
	font-size: 37px;
	color: white;
    vertical-align: middle;
	cursor: pointer;
}

.event_time {
	color: dimgray;
}

.log_info {
	color: green;
	font-weight: bold;
}

.log_warn {
	color: red;
	font-weight: bold;
}

.log_method {
	color: lightgray;
}

.log_normal_message {
	font-weight: bold;
}

.log_exception_message {
	font-weight: bold;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

#login_div, #settings_div {
    display: none;
}





.left {
    float: left;
}
.clear {
    clear: both;
}
#panel {
    position: absolute;
    top: 0;
    right: 0;
}
#avatar_div {
    padding: 0px;
}
#avatar {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    background-color: skyblue;
    border-radius: 20%;
}
#author_info {
    padding: 10px;
}
#nick {
    font-size: 30px;
    font-family: monospace;
}
#summary > div {
    padding-right: 20px;
    font-size: 15px;
    font-family: monospace;
}
#user_portal {
    margin-top: 20px;
}
fieldset {
    border: 2px solid darkorange;
    padding: 20px;
}
legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#button_to_post_adding_page {
    border: 2px solid darkorange;
    color: darkorange;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
	background-color: transparent;
}
#button_to_post_adding_page:hover {
    text-decoration-line: underline;
    color: white;
	background-color: darkorange;
}
.posts {
    display: table;
}
.post {
    list-style-type: none;
    font-size: 20px;
    font-family: monospace;
    display: table-row;
}
.post:hover {
	background-color: darkorange;
}
.post:hover span {
    text-decoration-line: underline;
	color: white;
}
.post:hover .post_time {
	color: white;
}
.post_title {
    display: table-cell;
    padding: 10px;
	cursor: pointer;
}
.post_title > span {
    color: darkorange;
}
.post_panel {
    display: table-cell;
    padding-right: 100px;
    font-size: 3px;
}
.post_panel button {
    border: 0px;
	color: white;
	background-color: darkorange;
    font-size: 12px;
	cursor: pointer;
    visibility: hidden;
}
.post_panel button:disabled {
	background-color: grey;
	cursor: auto;
}
.post:hover button {
	background-color: white;
	color: darkorange;
}
.post:hover button:disabled {
	background-color: grey;
}
.post_time {
    color: dodgerblue;
    font-size: 15px;
    display: table-cell;
    padding: 10px;
}
#pagenator {
    padding-top: 50px;
    color: darkorange;
    font-family: monospace;
}
#pagenator > a {
    color: darkorange;
}
#pagenator > a:hover {
    color: white;
	background-color: darkorange;
}