body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#inputs {
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
}

#inputs > p {
	margin: 0px;
}

@keyframes blinking {
    0%, 49% {
		border-right: 10px solid orange;
    }
    50%, 100% {
		border-right: 10px solid #444;
    }
}

.input {
	font-size: 39px;
	padding-left: 30px;
	padding-right: 0px;
	border: 0px solid darkorange;
	border-right: 10px solid darkorange;
	background-color: #444;
	color: darkorange;
	animation: blinking 1s linear infinite;
}

.input:focus-within ~ .run {
	color: lightgreen;
}

.quote {
	color: darkorange;
}

#outputs {
	margin-top: 50px;
	background-color: #333;
	border-top: 2px solid orange;
	visibility: hidden;
	font-family: serif;
}

.class_hidden {
	visibility: hidden;
}

.package {
	color: lightcoral;
	font-weight: bold;
}

.instance {
	color: lightcoral;
}

.method {
	color: lightskyblue;
}

.param_name {
	font-size: 30px;
	font-style: italic;
	color: gray;
    display: table-cell;
    vertical-align: middle;
}

.run {
	font-size: 37px;
	color: black;
    vertical-align: middle;
	cursor: pointer;
}

.event_time {
	color: lightgray;
}

.log_info {
	color: lightgreen;
	font-weight: bold;
}

.log_warn {
	color: red;
	font-weight: bold;
}

.log_method {
	color: lightgray;
}

.log_normal_message {
	font-weight: bold;
}

.log_exception_message {
	font-weight: bold;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

#login_div, #settings_div {
    display: none;
}





.left {
    float: left;
}
.clear {
    clear: both;
}
#panel {
    position: absolute;
    top: 0;
    right: 0;
}
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
	max-width: 100%;
}
#canvas img {
	max-width: 100%;
}
#title_and_author {
    font-family: monospace;
}
#title {
	margin-right: 50px;
	max-width: 100%;
    display: flex;
    align-items: flex-end;
}
#author {
    display: flex;
    align-items: flex-end;
}
.post_title {
    font-size: 50px;
    font-weight: bold;
}
.edit {
    display: none;
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.edit > a {
	color: lawngreen;
    text-decoration-line: none;
}
.edit > a:hover {
    text-decoration-line: underline;
}
.author_avatar_and_nick {
	color: lawngreen;
    font-size: 30px;
    cursor: pointer;
}
.author_avatar_and_nick:hover {
    text-decoration-line: underline;
}
#avatar {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
    background-color: midnightblue;
    border-radius: 20%;
    vertical-align: baseline;
}
.post_time {
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 2px;
    color: dodgerblue;
}
#post_text {
    display: none;
}
textarea {
    display: none;
}
#post_rendered_text a {
	color: lawngreen;
}
#post_rendered_text a:visited {
	color: lawngreen;
}
#post_rendered_text img {
	border: 1px solid lawngreen;
	border-radius: 5px;
}
#settings_button, #login_button {
    margin: 10px;
    border: 2px solid black;
	color: black;
	background-color: lawngreen;
	cursor: pointer;
    font-size: 25px;
}
#settings_button:hover, #login_button:hover {
    border: 2px solid lawngreen;
	color: lawngreen;
	background-color: black;
}